html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	display: flex;
	justify-content: center;
	background: black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

.title {
	font-size: 50px;
	text-align: center;
}

.homeContainer {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.albumContainer {
	margin-top: 50px; 
}

.albumCovers {
	width: 300px;
	height: 300px;
}

.albumTitles {
	font-size: 30px;
	text-align: center;
}

.bigPictureContainer {
	width: 650px;
	height: 650px;
}

.bigPictureName {
	margin-top: 10px;
	height: 60px;
	text-align: center;
	font-size: 40px;
}

.bigPicture {
	width: 650px;
	height: 650px;
}